@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

header .header__btn button, .hero__text button  {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}

/* estilos do header */
header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header__logo img {
    max-width: 40px;
}

header .header__menu__desktop nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .header__menu__desktop li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.2s;
}

header .header__menu__desktop li a:hover {
    transform: scale(1.05);
}

body {
    background-color: #E3E3E3;
} 

header .header__btn button {
    width: 140px;
    height: 50px;
}

header .header__btn button:hover, .hero__text button:hover {
    background-color: white;
    color: black;
}

/* estilos da seção hero */

section.hero__section {
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    height: 98vh;
    background-size: cover;
    background-position: center;
    color: white;

}

.hero__section .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero__section .hero__text h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero__section .hero__text h1 span {
    display: block;
    font-weight: 800;
}

.hero__section .hero__text p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero__section .hero__text p span {
    display: block;
}

.hero__text button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* estilos da seção vantagens */
section.advantages{
    padding: 80px 0;
}

.advantages .advantages__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.advantages__container .advantage__img img{
    max-width: 480px;
}

.advantages__container .advantage__text h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.advantages__container .advantage__text h3 span{
    font-weight: 300;
}

/* estilos da seção de contato */
section.contact{
    padding: 80px 0;
    background-color: white;
}

section.contact .contact__container{
    display: flex;
    gap: 140px;
}

.contact__container .contact__text{
    margin: auto 0;
}

.contact__container .contact__text h3{
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 40px;
}

.contact__container .contact__text h3 span{
    display: block;
    font-weight: 700;
}

.contact__container .contact__icons{
    width: 50%;
}

.contact__container .contact__icons a{
    text-decoration: none;
}

.contact__icons a button{
    display: flex;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.5s;
}

.contact__icons a button:hover{
    background-color: black;
}

.contact__icons a button:hover svg, .contact__icons a button:hover p{
    color: white;
}

