@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .header__btn button, .hero__text button  {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}

/* estilos do header */
header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 3;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header__logo img {
    max-width: 40px;
}


/* estilos do menu dinâmico */
header .header__logo img.header__logo__black{
    display: none;
}

header.scroll{
    background-color: white;
    box-shadow: 0 0 8px #00000061;
}

header.scroll .header__menu__desktop nav ul li a{
    color: black;
}

header.scroll .header__btn a button{
    border: 2px solid black;
    color: black;
}

header.scroll .header__btn a button:hover{
    background-color: black;
    color: white;
}

header.scroll .header__logo .header__logo__white{
    display: none;
}

header.scroll .header__logo .header__logo__black{
    display: block;
}

/* ----------------------- */

header .header__menu__desktop nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .header__menu__desktop li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: 0.2s;
}

header .header__menu__desktop li a:hover {
    transform: scale(1.05);
}

body {
    background-color: #E3E3E3;
} 

header .header__btn button {
    width: 140px;
    height: 50px;
}

header .header__btn button:hover, .hero__text button:hover {
    background-color: white;
    color: black;
}

/* estilos da seção hero */

section.hero__section {
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    height: 98vh;
    background-size: cover;
    background-position: center;
    color: white;

}

.hero__section .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero__section .hero__text h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero__section .hero__text h1 span {
    display: block;
    font-weight: 800;
}

.hero__section .hero__text p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero__section .hero__text p span {
    display: block;
}

.hero__text button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* estilos da seção vantagens */
section.advantages{
    padding: 80px 0;
}

.advantages .advantages__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.advantages__container .advantage__img img{
    max-width: 480px;
}

.advantages__container .advantage__text h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.advantages__container .advantage__text h3 span{
    font-weight: 300;
}

/* estilos da seção de contato */
section.contact{
    padding: 80px 0;
    background-color: white;
}

section.contact .contact__container{
    display: flex;
    gap: 140px;
}

.contact__container .contact__text{
    margin: auto 0;
}

.contact__container .contact__text h3{
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 40px;
}

.contact__container .contact__text h3 span{
    display: block;
    font-weight: 700;
}

.contact__container .contact__icons{
    width: 50%;
}

.contact__container .contact__icons a{
    text-decoration: none;
}

.contact__icons a button{
    display: flex;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.5s;
}

.contact__icons a button:hover{
    background-color: black;
}

.contact__icons a button:hover svg, .contact__icons a button:hover p{
    color: white;
}

/* estilos da seção hospedagem */
section.accommodation{
    background-image: url(../images/hotel-bg.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    background-attachment: fixed;
}

.accommodation > .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000b9;
    z-index: 1;
}

.accommodation .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
    position: relative;
}

 .accommodation__text{
    text-align: center;
}

.accommodation__text h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
    font-weight: 200;
}

.accommodation__text h3 span{
    display: block;
    font-weight: 700;
}

 .accommodation__text p{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}

.accommodation__btn a{
    text-decoration: none;
}

.accommodation__btn a button{
    width: 220px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}

.accommodation__btn a button:hover{
    background-color: white;
    color: black;
}

/* estilos da seção como funciona */
section.how__works{
    padding: 80px 0;
}

.how__works .how__works__container{
    display: flex;
    gap: 140px;
    align-items: flex-start;
}

.how__works__container .how__works__text{
    position: sticky;
    top: 50%;
    padding-bottom: 35px;
}

.how__works__container .how__works__text h3{
    font-size: 3em;
    font-weight: 300;
    line-height: 50px;
}

.how__works__text h3 span{
    display: block;
    font-weight: 700;
}

.how__works__steps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how__works__steps .how__works__step{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    width: 70%;
    gap: 20px;
}

 .how__works__steps .how__works__step__img img{
    max-width: 100px;
}

.how__works__steps .how__works__step__text h4{
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 10px;
}

.how__works__step__text h4 span{
    font-weight: 700;
}

/* estilos do rodapé */
footer{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 30px 0;
}

footer .footer__btns a{
    text-decoration: none;
}

footer .footer__btns a button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .footer__btns a button:hover{
    background-color: white;
    color: black;
}

footer .footer__links{
    margin: 20px 0;
}

footer .footer__links a{
    display: inline-block;
    margin: 0 15px;
    color: white;
}

footer .footer__text{
    border-top: 2px solid white;
}

footer .footer__text p{
    color: white;
    margin-top: 10px;
}